<<<<<<< Updated upstream
body {
   font-size: 30px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: blanchedalmond;
}
.flag {
   width: 250px;
   height: auto;
   border-radius: 10px;
}
li {
   padding: 15px;
   margin: 15px;
   width: 250px;
   border: 1px solid black;
   text-align: center;
   
}
ul {
   list-style: none;
}
=======
>>>>>>> Stashed changes
