.kom{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.row{
    display: flex;
    
}
#jeden, #dwa, #trzy, #cztery, #piec, #szesc, #siedem, #osiem, #dziewiec{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}