body {
  display: flex;
  margin: 0;
  overflow-y: hidden;
}
.div1 {
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-right: 1px solid black;
}
.div2 {
  flex-direction: column;
  height: 100vh;
  width: 80%;
}
#kol1 {
  width: 60%;
  height: 5vh;
}
#kol2 {
  width: 60%;
  height: 5vh;
}
#kol3 {
  width: 60%;
  height: 5vh;
}
#color1 {
  width: 20%;
  height: 5vh;
}
#color2 {
  width: 20%;
  height: 5vh;
}
#color3 {
  width: 20%;
  height: 5vh;
}
.lewo {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-right: 1px solid black;
}
.pol {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pol_dwa {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
}
.prawo {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#color_1 {
  width: 20%;
  height: 5vh;
}
#color_2 {
  width: 20%;
  height: 5vh;
}
#color_3 {
  width: 20%;
  height: 5vh;
}
